.git
.gitignore

.env
.env.local
*.env

vendor/
node_modules/

docker-compose.yml
docker/
docker-compose.override.yml

tests/
*.log

ecoride.sql
ecoride_seed.sql

*.md
*.pdf
*.zip
*.tar
*.gz

.vscode
.DS_Store