#################################
#       MODE DOCKER
#################################
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=db

#################################
#       MODE Db clever 
#################################
#DB_HOST=
#DB_NAME=
#DB_USER=
#DB_PASS=
#DB_PORT= 21821
#################################
#       CONFIG COMMUNE
#################################
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
JWT_SECRET=
EMAIL=
PASSWORD_MAIL=
MONGO_URI=
MONGO_DB=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
